body {
  width: 800px;
  margin: 0 auto;
}

canvas {
 margin: 20px 0;
}

textarea {
  box-sizing: border-box;
  width: 100%;
  border: none;
  resize: none;
}

#shader {
  padding: 0.6em;
  color: #eee;
  background-color: #222;
}

#shader.error {
  background-color: #600;
}
